$bgBody: #1B1A17;
$colorText: #F0E3CA;
$contextColor: #3A96EC;
$firstAvatarElement:hsla(209, 82%, 58%, 0.5);
$secondAvatarElement:rgba(206, 206, 206, 0.5);
$bgSkillCard: #1F1E1B;
$bgProjectCardInfo: #21201D;
$bgButton: #32312E;
$skillHtml: #FC490B;
$skillCss3: #2196F4;
$skillJs: #FFDF00;
$skillScss: #CA669B;
$skillGit: #F25234;